/* #######################################################################

	Overall Body and Layout of page

####################################################################### */

* {
  -webkit-box-sizing:border-box;
  -khtml-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
 *behavior:url(js/libs/boxsizing.htc)

}

.page {
  position:relative;
  width:1290px;
  margin:0 auto 0
}

html {
  font-size:62.5%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

html,body {
    width:100%
}

body {
 margin:0;
 font-size:12px;
 font-size:1.2pxrem;
 line-height:1;
 font-family:'Raleway','Arial CE',Arial,sans-serif;
 color:#000;
 background:#f8f8f8;
 -webkit-font-smoothing:antialiased
}

a:hover {
 text-decoration:none
}

header {
 position:relative;
 padding:57px 0 0 0;
 width:100%;
 height:auto;
 z-index:2;*zoom:1
}

header h1 a {
 border:0;
 font:0/0;
 a;text-shadow:none;
 color:transparent !important;
 display:block;
 width:100%;
 height:100%;
 background:url(../img/logo.svg) 0 0 no-repeat
}

.no-inlinesvg header h1 a {
 background-image:url(../img/logo.png)
}

header nav {
 float:right
}

section p {
 margin:0 0 1em 0;
 font-size:36px;
 font-size:3.6rem;
 line-height:1.3em;
 font-weight:300;
 color:#424b4f
}

section .second-color {
 background:-webkit-linear-gradient(left, #e74a4a, #decf28);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
}

section .desktop-br {
 display:block;
}

section .on {
 color:orange;
}

section .author-resume {
 font-family:'Quattrocento Sans','Arial CE',Arial,sans-serif;
 font-size:24px;
 font-size:2.4rem;
 line-height:1.2em;
 font-weight:400;
 font-style:italic;
 color:#bcc0c2
}

section .author-resume a {
 color: #77aa1d;  
}

section .author-resume a:hover {
 box-shadow: inset 0 -3px gray; 
 -webkit-transform: translate(0, -3px);
 transform: translate(0, -3px);     
}

h2 {
 font-family:'Quattrocento Sans','Arial CE',Arial,sans-serif;
 font-size:24px;
 font-size:3.4rem;
 line-height:1.2em;
 font-weight:400;
 font-style:italic;
 color:#bcc0c2
}

h2 a {
 color: orange;
}
h2 a:hover {
 color: orange;
 box-shadow: inset 0 -3px gray; 
      -webkit-transform: translate(0, -3px);
      transform: translate(0, -3px);     
}

ul,ol {
  padding:0;
  margin:0
}


/* #######################################################################

	Images style on Behance and Dribble

####################################################################### */

.img-list {
 margin:0 0 100px 0;
 padding:0 38px;
 font-size:0;
 font-size:0rem;
 line-height:0;
}

.img-list ul li img {
background: white;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  display: block;
  width: 420px;
  height: 300px;
    
}

.img-list li {
  display:inline-block;
  margin:0 0 10px 0;
  padding:0 0 0 10px;
  width:33.333%;
  height:33.33%;
  vertical-align:top
  
}

.img-list a {
 position:relative;
 display:block;
 width:100%;
 height:auto;
 background:#000;
 *zoom:1
}

.img-list a:before,
.img-list a:after {
display:table;
content:""
}

.img-list a:after {
clear:both
}

.img-list a:hover i {
opacity:.25;
filter:alpha(opacity=25)
}

.img-list img {
float:left;
width:100%;
height:auto;
}

.img-list i {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:#000;
 opacity:0;filter:alpha(opacity=0);
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    z-index:2;
}

html {
font-size:62.5%;-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%
}

html,body {
 width:100%
}

a:hover {
text-decoration:none
}

#contact1 {
 margin:0 0 1em 0;font-size:36px;font-size:3.6rem;line-height:1.3em;font-weight:300;
 color:#77aa1d;
}

#contact1:hover {
 box-shadow: inset 0 -3px gray; 
 -webkit-transform: translate(0, -3px);
 transform: translate(0, -3px);     
}

section {
 padding:70px 0 0 0;
 z-index:2
}

section .img-bg {
 position:relative;
 float:right
}

section .img-bg img {
 width:595px
}

section .img-bg i {
 position:absolute;
 left:0;top:0;
 width:100%;
 height:100%;
 z-index:2
}

/* #######################################################################

	Owl CSS autoplay images

####################################################################### */

#owl-demo .item{
  background: white;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 100px;
  height: 300px;
  width: 300px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: 100%;
    
}